footer {
    background: white;
    padding: 32px;
    text-align: center;
    width: 100%;
}

footer a {
    color:black;
}

footer a:hover {
    background-color: #8bd9c7;
    color: white;
    outline: none;
    padding: 2px;

}

footer a:focus {
    background-color:black;
    color:white;
    outline: none;
    padding: 2px;
}