h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: normal;
}

main > div {
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
    text-align: left;
}

main > div > a {
    color: black;;
    font-size: 18px;
}

main > div > a:hover {
    background-color: black;;
    color: white;
}

main > div > a:focus {
    background-color: black;
    color: white;
    outline: none;
}

main > div > img {
    width: 100%
}

#container2 {
    grid-area: area2;
}

#container3 {
    grid-area: area3;
}

main {
    background-color: rgb(50, 107, 44);
    display: grid;
    grid-template-areas: 
    '.'
    'area2'
    'area2'
    'area3'
    'area3'
    'area3'
    '.'
    '.'
    '.';
    grid-gap: 20px;
    padding: 20px;

}

@media only screen and (min-width: 992px) {

    main {
    grid-template-areas: 
    '. area3 .'
    'area2 area3 .'
    'area2 area3 .';
    }

}

